.idea
*.iml
*.swp
**/target/**

hw10-rest-ui-react/node/
hw10-rest-ui-react/node_modules/

hw11-webflux-ui-react/node/
hw11-webflux-ui-react/node_modules/

hw16-ui/node/
hw16-ui/node_modules/
hw16-ui/build/

