<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ layout :: common_header(~{::title}) }">
    <title>Редактирование книги</title>
</head>
<body>
<div id="container">
    <div th:replace="~{ layout :: navigation }"/>
    <div id="content">
        <h3>Редактирование книги</h3>
        <form method="post" th:action="@{/book}" th:object="${book}">
            <input type="hidden" th:field="*{id}"/>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 20px;">Наименование</td>
                    <td>
                        <input type="text" th:field="*{title}" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>Автор</td>
                    <td>
                        <select th:field="*{author.id}">
                            <option th:each="author : ${authors}"
                                    th:value="${author.id}"
                                    th:text="${author.fullName}">Автор</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Жанр</td>
                    <td>
                        <select th:field="*{genre.id}">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.name}">Жанр</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;">
                        <button type="submit" style="width: 90px;">Сохранить</button>
                        <a th:href="@{/}"><button type="button" style="width: 90px;">Отмена</button></a>
                        <a th:href="@{/book/__*{id}__/delete}"><button type="button" style="width: 90px;">Удалить</button></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
